<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- stylesheet doesnt even work and i have no clue why -->
    <link rel="stylesheet" type="text/css" href="styles/styles.css">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>

    <title>Ben's Address Book</title>
  </head>
  <body>
      <div align="center">
    <h1>Ben's Address Book</h1>
    <hr> </div>


    <!--  if statement checks to see if there are already contacts, if that is true than list those contacts -->
    {% if contacts is not empty %}
      <h3>Here are a list of your contacts:</h3>
      <ul>
        {% for contact in contacts %}
        <li>{{ contact.getName }}</li>
        <ul>
          <li>{{ contact.getPhoneNumber }}</li>
          <li>{{ contact.getAddress }}</li>
        </ul>
        {% endfor %}
      </ul>
    {% else %}
    <!--  else statement will display this message if no contacts inputted yet -->
    <h3>You have no contacts, to add a new contact fill out the form below!</h3>
    {% endif %}

<!-- this is the form that will post the new contact information  -->
<!--  referes to the contacts / home page -->
      <form action='/contacts' method='post'>
        <div class='form-group'>
          <label for='name'>Contact name:</label>
          <input id='name'
                 name='name'
                 class='form-control'
                 type='text'
                 maxlength="20"
                 placeholder="First and Last Name"
                 required>
                 <br>
          <label for='phone_number'>Contact phone number:</label>
          <input id='phone_number'
                 name='phone_number'
                 class='form-control'
                 type='text'
                 maxlength="10"
                 placeholder="123-456-7890"
                 required>
                 <br>
          <label for='address'>Contact address:</label>
          <input id='address'
                 name='address'
                 class='form-control'
                 type='text'
                 maxlength="20"
                 placeholder="123 NW Ave. Portland, OR 97209"
                 required>
                 <br>

                 <button type='submit' class='btn'>Submit!</button>
                   </form>
                   <form action='/delete_contacts' method='post'>
             {# button to delete all existing contacts #}
                     <button type='submit'>Delete all contacts</button>
                   </form>
  </div>
  </div> </div>

  </body>
</html>
