<html>
  <head>
    <title>Ben's Address Book</title>
  </head>
  <body>
    <h1>All the contacts have now been deleted, go make some new friends! </h1>
    <p><a href='/'>Go Back to the  Homepage</p>
  </body>
</html>
