<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" type="text/css" href="styles/styles.css">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>

    <title>Ben's Address Book</title>
  </head>
  <body>
      <div class="container-fluid">
    <h1>All the contacts have now been deleted, go make some new friends! </h1>
    <p><a href='/'>Go Back to the Homepage</p>
    </div>
  </body>
</html>
